fpdf
easyroom-backup-db.sql
node_modules/
src/backend/admin_backend/node_modules
src/backend/executive_backend/node_modules
src/backend/booker_backend/node_modules
src/shared/booking_documents/node_modules
easyroom.sql

**./node_modules
.env
src\backend\booker_backend\.env
**/.env
fix-db